{% extends "base.html" %} {% block title %}About{% endblock %}
{% block content%}

<html>
  <div>
    &nbsp
    <h1 style="text-align:center;font-size:50px"><b>About</b></h1>
    <div>
      &nbsp;
      <p align="center">
        We are a group of people who love to play minecraft and enjoy having a nice community to play with. We have been running since 2019. We host monthly events where our players can earn prizes! We have a nice community where you can interact with different people and make friends! Here are the people who make this possible:
      </p>
      &nbsp;
      <h2 style="text-align:center;font-size:35px"><b>Staff Team</b></h2>
      <div>
        <p style="font-size:25px"><img src="static/pictures/zolo.png" alt="zolo" style="width:100px;height:100px"><b>&nbsp; &nbsp; Owner: Zolomight</b>&nbsp;<I>"Life is wife my friend. Without a wife, you have no life."</I></p>
        <p style="font-size:25px"><img src="static/pictures/glitched.png" alt="glitched" style="width:100px;height:100px"><b>&nbsp; &nbsp; Admin: GlitchedGoth</b>&nbsp;<I>""</I></p>
        <p style="font-size:25px"><img src="static/pictures/rory.png" alt="rory" style="width:100px;height:100px"><b>&nbsp; &nbsp; Admin: Roryyz</b>&nbsp;<I>""</I></p>
        <p style="font-size:25px"><img src="static/pictures/raf.png" alt="raf" style="width:100px;height:100px"><b>&nbsp; &nbsp; Admin: Rafdog50</b>&nbsp;<I>""</I></p>
        <p style="font-size:25px"><img src="static/pictures/milo.png" alt="milo" style="width:100px;height:100px"><b>&nbsp; &nbsp; Moderator: Milo</b>&nbsp;<I>""</I></p>
        <p style="font-size:25px"><img src="static/pictures/icemanswab.png" alt="ice" style="width:100px;height:100px"><b>&nbsp; &nbsp; Moderator: ICEmanswab</b>&nbsp;<I>""</I></p>
        <p style="font-size:25px"><img src="static/pictures/iplay.png" alt="iplay" style="width:100px;height:100px"><b>&nbsp; &nbsp; Moderator: IplayGamess</b>&nbsp;<I>""</I></p>
        <p style="font-size:25px"><img src="static/pictures/spy.png" alt="spy" style="width:100px;height:100px"><b>&nbsp; &nbsp; Moderator: Spyrezen</b>&nbsp;<I>"I only care about the food"</I></p>
      </div>
    </div>
  </div>
</html>

{% endblock %}