{% extends "base.html" %} {% block title %}Discord{% endblock %}
{% block content%}
<html>
    &nbsp
    <h1 align="center"
        style="font-size:50px"><b>Discord</b>
    </h1>
    &nbsp
    <p style="text-align:center"><a style="font-size:30px"
       href="https://discord.gg/YEpEdZaAsm" target="_blank">Born From Ashes</a></p>
    &nbsp
    <p style="text-align:center">
        Our server uses a plugin called, DiscordSRV. This is a plugin connects minecraft chat to the discord.
    </p>


</html>
{% endblock %}