{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content%}

<html>
    &nbsp;
    <div>
        <img src="static/pictures/banner.png" alt="banner" style="width:1100px;height:450px">
        <h1 align="center"><b>Welcome to Born From Ashes!</b></h1>
        <div>
            &nbsp;
            <h2 align="center">A semi-vanila server with cool QoL plugins!</h2>
            &nbsp;
            <h2 align="center"><b>How to play: </b></h2>
            &nbsp;
            <h3>1. Join the discord and fill out a application by doing /apply bfa in the #new-member-quiz channel</h3>
            &nbsp;
            <h3>2. You will be pinged when you have been whitelisted and have fun :)</h3>
            &nbsp;
            <h3>IP Address: 199.26.86.175:25593</h3>
            &nbsp;
            <h2 align="center"><b>Trailer</b></h2>
            &nbsp;
            <iframe width="1100" height="500" src="https://www.youtube.com/embed/5nwScBDazDA"></iframe>
            &nbsp;
        </div>
    </div>
</html>

{% endblock %}