{% extends "base.html" %} {% block title %}Plugins/Datapacks{% endblock %}
{% block content%}

<html>
  &nbsp
    <h1 align="center"
        style="font-size:50px">
        <b>Plugins</b>
    </h1>
    <div>
        <p style="font-size:30px"><a href="https://www.spigotmc.org/resources/action-bar-health.2661/\" target="_blank"><b>ActionBarHealth</b></a></p>
        <p><b>Displays Mob health when hovering crosshair on a mob</b></p>
        <p style="font-size:30px"><a href="https://www.spigotmc.org/resources/autoreplant-1-17-1.86098/" target="_blank"><b>AutoReplant</b></a></p>
        <p><b>Automatically replants seeds if you have them in your inventory</b></p>
        <p style="font-size:30px"><a href="https://www.spigotmc.org/resources/betternav.89438/" target="_blank"><b>BetterNav</b></a></p>
            <p><b>A navigation plugin which can tell you exactly where to go and how much farther you have until arrival. The base command is /bn. Use /bn help for a list of commands.</b></p>
        <p style="font-size:30px"><a href="https://www.spigotmc.org/resources/better-teams.17129/" target="_blank"><b>BetterTeams</b></a></p>
            <p><b>Allows you and your friends to create a team for custom team chat as well as flairs on your username! Do /team create [name] to make your own team! Check the link for a list of commands. </b></p>
        <p style="font-size:30px"><a href="https://www.spigotmc.org/resources/bottledexp.2815/" target="_blank"><b>Bottled Exp</b></a></p>
            <p><b>This plugin allows you to bottle your XP for safekeeping! Use /bottle </b></p>
        <p style="font-size:30px"><a href="https://www.spigotmc.org/resources/blocklocker.3268/" target="_blank"><b>BlockLocker</b></a></p>
            <p><b>A classic must have plugin for SMPs. Prevents item theft. Allows signs to be used as personal locks on any container such as chests or furnaces as well as doors and trapdoors. You can give more players permission with the command /blocklocker (linenumber) add (player name). You can also connect signs above and below for additional players.</b></p>
        <p style="font-size:30px"><a href="https://www.spigotmc.org/resources/brewery.3082/" target="_blank"><b>Brewery</b></a></p>
            <p><b>A fun plugin allowing you to brew wine and beer in minecraft, no joke. Here’s a video showing the process, it’s a bit complex. Though you start by placing a cauldron filled with water over a campfire. Then insert some ingredients such as sugarcane, fermented spider eyes, etc according to the recipes on the wiki and the video.</b></p>
        <p style="font-size:30px"><a href="https://bstats.org/" target="_blank"><b>Bstats</b></a></p>
            <p><b>A data collection plugin for the server which gathers info about the playercount, online mode, minecraft version, clients, and more. All data is stored anonymously. </b></p>
        <p style="font-size:30px"><a href="https://www.spigotmc.org/resources/coreprotect.8631/" target="_blank"><b>CoreProtect</b></a></p>
            <p><b>Allows inspection of any recent blocks broken or placed. Helps identify griefers or thieves. Use /co i to enter inspector mode.</b></p>
        <p style="font-size:30px"><a href="https://www.spigotmc.org/resources/cmilib.87610/" target="_blank"><b>Cmilib</b></a></p>
            <p><b>Just a dependency plugin for BottleXP</b></p>
        <p style="font-size:30px"><a href="https://www.spigotmc.org/resources/discordsrv.18494/" target="_blank"><b>DiscordSRV</b></a></p>
            <p><b>Connects minecraft chat to discord! A revolutionary plugin for communication and server alerts!</b></p>
        <p style="font-size:30px"><a href="https://www.spigotmc.org/resources/durabilityalert-1-13-1-17.74166/" target="_blank"><b>DurabilityAlert</b></a></p>
            <p><b>Alerts you when the durability of a tool you are using is low!</b></p>
        <p style="font-size:30px"><a href="https://essentialsx.net/downloads.html" target="_blank"><b>EssentialsX</b></a></p>
            <p><b>The basics when it comes to plugins for a minecraft server, such as /fly, /tpa, /home, /warp, /godmode, and more!</b></p>
        <p style="font-size:30px"><a href="https://www.spigotmc.org/resources/griefprevention.1884/" target="_blank"><b>GriefProtection</b></a></p>
            <p><b>A quintessential plugin for SMPs to prevent all forms of grief. Is done by players claiming land with a golden shovel. Base command is /claim. Here is a video going more in-depth</b></p>
        <p style="font-size:30px"><a href="https://www.spigotmc.org/resources/gsit-modern-sit-seat-and-chair-lay-and-crawl-plugin-1-13-x-1-17-x.62325/" target="_blank"><b>ModernMoves</b></a></p>
            <p><b>Allows you to sit down in minecraft! Is just for fun and aesthetics!</b></p>
        <p style="font-size:30px"><a href="https://www.spigotmc.org/resources/harbor-a-sleep-enhancement-plugin.60088/" target="_blank"><b>Harbor</b></a></p>
            <p><b>Makes it so 1-3 players have to sleep to skip the night! Otherwise everyone in the server would need to be in a bed!</b></p>
        <p style="font-size:30px"><a href="https://www.spigotmc.org/resources/harvest-xp.76048/reviews" target="_blank"><b>Harvest XP</b></a></p>
            <p><b>Allows you to gain xp after harvesting crops.</b></p>
        <p style="font-size:30px"><a href="https://www.spigotmc.org/resources/inventory-rollback.48074/" target="_blank"><b>InventoryRollback</b></a></p>
            <p><b>A crucial plugin for admins, creating inventory and e-chest backups for all players. If died from lag or an extenuating circumstance you are entitled for your inventory to be restored; contact an admin. Base command is /ir restore.</b></p>
        <p style="font-size:30px"><a href="https://www.spigotmc.org/resources/luckperms.28140/" target="_blank"><b>LuckPerms</b></a></p>
            <p><b>Denotes command and plugin permissions to all players.</b></p>
        <p style="font-size:30px"><a href="https://www.spigotmc.org/resources/nbt-api.7939/" target="_blank"><b>NBTapi</b></a></p>
            <p><b>Allows custom NBT tags for itemstacks, entities, and more!</b></p>
        <p style="font-size:30px"><a href="https://www.spigotmc.org/resources/%E2%9C%A8openinv%E2%9C%A8.79069/" target="_blank"><b>OpenInv</b></a></p>
            <p><b>A vital plugin for admins, enabling them to peek into any player’s inventory or e-chest, whether online or offline. We’ve got our eyes on you… We’re always watching. ALWAYS watching…</b></p>
        <p style="font-size:30px"><a href="https://www.spigotmc.org/resources/per-player-difficulty.84243/" target="_blank"><b>PerPlayerDifficulty</b></a></p>
            <p><b>Allows you to set your personal difficulty, lowering the damage mobs do to you. Server difficulty is hard, however.</b></p>
        <p style="font-size:30px"><a href="https://www.spigotmc.org/resources/plan-player-analytics.32536/" target="_blank"><b>PlanPlayerAnalytics</b></a></p>
            <p><b>Gives fun server stats about playerbase and activity! Also lag info and plugins!</b></p>
        <p style="font-size:30px"><a href="https://www.spigotmc.org/resources/playerheads.15165/" target="_blank"><b>PlayerHeads</b></a></p>
            <p><b>Gives playerheads!</b></p>
        <p style="font-size:30px"><a href="https://dev.bukkit.org/projects/pvpmanager" target="_blank"><b>PvpManager</b></a></p>
            <p><b>Allows management of personal pvp! Command to toggle it off or on is /pvp. Is also the base command for other cool things like an aura and blood animation! Also detects disconnects! So don’t cheat!</b></p>
        <p style="font-size:30px"><a href="https://www.spigotmc.org/resources/simple-rename.16220/" target="_blank"><b>SimpleRename</b></a></p>
            <p><b>Allows renaming items and entities and glowing! Base command is /simplerename</b></p>
      <p style="font-size:30px"><a href="https://www.spigotmc.org/resources/tradernotify.92776/" target="_blank"><b>TraderNotify</b></a></p>
            <p><b>Notifies you when a wandering trader appears because they are annoying.</b></p>
        <p style="font-size:30px"><a href="https://www.spigotmc.org/resources/survivalinvisiframes.80692/" target="_blank"><b>InvisItemFrames</b></a></p>
            <p><b>Makes invisible item frames acquirable in survival mode via crafting! Is done with lingering potions invisibility surrounded by item frames!</b></p>
        <p style="font-size:30px"><a href="https://songoda.com/marketplace/product/ultimatetimber-the-realistic-tree-chopper.18" target="_blank"><b>UltimateTimber</b></a></p>
            <p><b>The ultimate tree chopper plugin! Use an axe to chop an entire tree down at once! But beware, the tree will tumble on you! Also subtracts the right durability. Can be toggled on or off with /ultimatetimber toggle</b></p>
        <p style="font-size:30px"><a href="https://www.spigotmc.org/resources/vault.34315/" target="_blank"><b>Vault</b></a></p>
            <p><b>An economy plugin.</b></p>
        <p style="font-size:30px"><a href="https://www.spigotmc.org/resources/veinminer.12038/" target="_blank"><b>Veinminer</b></a></p>
            <p><b>A very useful mining plugin used by sneaking and then mining an ore vein. Can be toggled on or off with /veinminer toggle. Be wary that vein miner works on gravel, sand, and magma blocks so you might want to turn it off if you are anywhere near lava!</b></p>
        <p style="font-size:30px"><a href="https://dev.bukkit.org/projects/worldedit" target="_blank"><b>WorldEdit</b></a></p>
            <p><b>The best world modification plugin. Is for admins only.</b></p>
        <p style="font-size:30px"><a href="https://dev.bukkit.org/projects/worldguard" target="_blank"><b>WorldGuard</b></a></p>
            <p><b>A plugin used for setting complex world borders and regions in a world. Only for admin use.</b></p>
      &nbsp
        <h1 align="center"
            style="font-size:50px">
            <b>Datapacks</b>
        </h1>
        &nbsp
        <p style="font-size:30px"><a href="https://vanillatweaks.net/picker/datapacks/" target="_blank"><b>AFKDisplay</b></a></p>
            <p><b>Displays when a player is afk. Use /afk to activate.</b></p>
        <p style="font-size:30px"><a href="https://vanillatweaks.net/picker/datapacks/" target="_blank"><b>Armor Statues</b></a></p>
            <p><b>Allows custom armorstand positions.</b></p>
        <p style="font-size:30px"><a href="https://vanillatweaks.net/picker/datapacks/" target="_blank"><b>Cauldron Concrete</b></a></p>
            <p><b>A datapack that makes it so when you drop concrete powder into a cauldron, it turns it into concrete.</b></p>
        <p style="font-size:30px"><a href="https://vanillatweaks.net/picker/datapacks/" target="_blank"><b>CoordinatesHUD</b></a></p>
            <p><b>A simple datapack that shows you your coords when activated.</b></p>
        <p style="font-size:30px"><a href="https://vanillatweaks.net/picker/datapacks/" target="_blank"><b>NetherPortalCoords</b></a></p>
            <p><b>Shows you where a nether portal is. Very useful for netherportal linking.</b></p>
        <p style="font-size:30px"><a href="https://vanillatweaks.net/picker/datapacks/" target="_blank"><b>DoubleShulkerDrops</b></a></p>
            <p><b>Makes is so when you kill a shulker, it drops two shulker shells.</b></p>
        <p style="font-size:30px"><a href="https://vanillatweaks.net/picker/datapacks/" target="_blank"><b>DragonDrops</b></a></p>
            <p><b>When the dragon is killed, it drops an elytra.</b></p>
        <p style="font-size:30px"><a href="https://vanillatweaks.net/picker/datapacks/" target="_blank"><b>MoreMobHeads</b></a></p>
            <p><b>Adds obtainable mobheads.</b></p>
        <p style="font-size:30px"><a href="https://vanillatweaks.net/picker/datapacks/" target="_blank"><b>SilenceMobs</b></a></p>
            <p><b>Allows mobs to be silence so they make no noise. Rename a nametag, silence, and name a mob with it.</b></p>
        <p style="font-size:30px"><a href="https://vanillatweaks.net/picker/datapacks/" target="_blank"><b>PlayerHeadDrops</b></a></p>
            <p><b>Adds obtainable playerheads.</b></p>
        <p style="font-size:30px"><a href="https://vanillatweaks.net/picker/crafting-tweaks/" target="_blank"><b>CraftableCoralBlocks</b></a></p>
            <p><b>Allows you to craft coral blocks.</b></p>
        <p style="font-size:30px"><a href="https://vanillatweaks.net/picker/crafting-tweaks/" target="_blank"><b>CraftableNameTags</b></a></p>
            <p><b>Allows you to craft name tags</b></p>
        <p style="font-size:30px"><a href="https://vanillatweaks.net/picker/crafting-tweaks/" target="_blank"><b>CraftableHorseArmor</b></a></p>
            <p><b>Allows you to craft horse armor</b></p>
        <p style="font-size:30px"><a href="https://vanillatweaks.net/picker/crafting-tweaks/" target="_blank"><b>CraftableGravel</b></a></p>
            <p><b>Allows you to craft gravel</b></p>
        <p style="font-size:30px"><a href="https://vanillatweaks.net/picker/crafting-tweaks/" target="_blank"><b>UnpackableIce</b></a></p>
            <p><b>Allows you to turn blue ice into packed ice and packed ice into ice.</b></p>
        <p style="font-size:30px"><a href="https://vanillatweaks.net/picker/crafting-tweaks/" target="_blank"><b>UnpackableWool</b></a></p>
            <p><b>Allows you to turn a wool block into 4 string.</b></p>
        <p style="font-size:30px"><a href="https://www.planetminecraft.com/data-pack/fast-villager-curing/" target="_blank"><b>FastVillagerCuring</b></a></p>
            <p><b>Decreases the time needed for a villager to be cured.</b></p>
        <p style="font-size:30px"><a href="https://www.planetminecraft.com/data-pack/how-many-bees/" target="_blank"><b>HowManyBees</b></a></p>
            <p><b>Displays how many bees are in a bee hive.</b></p>
        <p style="font-size:30px"><a href="https://www.planetminecraft.com/data-pack/glowing-glow-squids/" target="_blank"><b>GlowingGlowSquids</b></a></p>
            <p><b>Makes glow squid glow.</b></p>
        <p style="font-size:30px"><a href="https://www.planetminecraft.com/data-pack/villager-leads/" target="_blank"><b>VillagerLeads</b></a></p>
            <p><b>Allows you to attach leads to villagers for easier transportation</b></p>
        <p style="font-size:30px"><a href="https://www.planetminecraft.com/data-pack/better-slab-breaking/" target="_blank"><b>BetterSlabBreaking</b></a></p>
            <p><b>Makes it so if you break the bottom part of two slabs, it breaks the bottom slab and vice versa.</b></p>
        <p style="font-size:30px"><a href="https://www.planetminecraft.com/data-pack/better-lightning/" target="_blank"><b>BetterLightning</b></a></p>
            <p><b>It adds fun new effects when lighting strikes different entities. For example, “If lightning strikes a tree, the logs become stripped logs, similar to how in real life lightning can blow the bark off of tree trunks.” There is a more comprehensive list of all the effects that lightning now has in the link above.</b></p>
        <p style="font-size:30px"><a href="https://www.planetminecraft.com/data-pack/ships-out-on-the-oceans/" target="_blank"><b>ShipsOutOnTheOceans</b></a></p>
            <p><b>Spawns new ships in the ocean that can either be friendly or hostile!</b></p>
        <p style="font-size:30px"><a href="https://www.planetminecraft.com/data-pack/tp-base/" target="_blank"><b>Gateways</b></a></p>
            <p><b>Allows you to travel to places you’ve already visited by placing one gateway at the start and end location and linking them together with a gateway linker. View the link for the crafting recipes. </b></p>
        <p style="font-size:30px"><a href="https://www.planetminecraft.com/data-pack/end-above-overworld-4511655/" target="_blank"><b>EndAboveOverworld</b></a></p>
            <p><b>Changes the void in the End so that if you fall off, you will fall into those exact coordinates in the overworld! No more falling into an endless void and losing all your items. </b></p>
        <p style="font-size:30px"><a href="https://www.planetminecraft.com/data-pack/infinite-trades-no-trading-limits-1-17x/" target="_blank"><b>LimitlessTrades</b></a></p>
            <p><b>Makes it so villagers will never have to restock and can trade with you infinitely. This makes villager trading much faster, however you still need the same amount of materials to trade as you would normally. Note: There will be an X and the GUI will say that you cannot trade anymore however you will still be able to trade! </b></p>
        <p style="font-size:30px"><a href="https://www.planetminecraft.com/data-pack/scoria-a-sponge-for-lava/" target="_blank"><b>LavaSponge</b></a></p>
          <p><b>A sponge but for lava. Scoria</b></p>
      </div>
</html>

{% endblock %}