{% extends "base.html" %} {% block title %}BFA Rules{% endblock %}
{% block content%}
<html>
    &nbsp
    <h1 align="center"
        style="font-size:50px">
        <b>Rules</b>
    </h1>
    <p>
       <h3><b>General Rules</b></h3>
        <p>#1. This is a PG13 server. NSFW content or talk is not allowed. This includes adult topics such as sex, drugs, and alcohol. Please also limit talk about topics such as religion and politics as people tend to have strong opinions about these. </p>
<p>#2. Be civil. Do not excessively swear, start drama with other members, gossip about others, or insult others. If you have a problem with someone or something, please tell a moderator or admin and we will deal with the situation privately.  </p>
<p>#3. Please refrain from advertising without specific staff permission. This includes advertising in DMs! If you would like to plug a social media page or account, just let a staff member know before you do so.  </p>
<p>#4. No offensive content. Please do not post any content that may be deemed offensive. This also includes having an offensive name or profile picture. If you are unsure if content is offensive, ask a moderator and they will decide.  </p>
<p>#5. Respect everyone. You must be considerate and respectful of others regardless of their sexuality, religious views, political views, race, gender identity, etc. This includes not using any offensive language or slurs.  </p>
<p>#6. Please DO NOT invite anyone who is under 13! We don't want anyone to feel uncomfortable.  </p>
<p>#7. Do not spam. Spam will be defined as filling chat with an excessive amount of text that does not contribute to a discussion.  </p>
<p>#8. Do not threaten or intimidate other members. This includes any form of blackmail or doxxing.  </p>
<p>#9. For the safety of all members, we ask that you do not post pictures of yourself, your family, or friends. If you break this rule and post any personal information or images of yourself, you won't be punished but it will be removed.  </p>
<p>#10. Moderators and Admins are allowed to decide what does and does not fit these rules. If someone breaks any rule, we will decide the punishment or lack thereof on a case by case basis.  </p>
<p>-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------  </p>
    <h3><b>Minecraft Server Rules</b></h3>
<p>#1. If you accidentally grief or break some part of someone else's property, please commit to fixing it and don't leave it broken. If you do not know how, please contact the owner of the property and explain the situation. If you do not know the owner of the property, please contact a moderator or admin.  </p>
<p>#2. This is more of a tip than anything else, if players are grinding for elytra's and selling them super expensive, just don't buy them, that will make them lower the price or stop hunting for them. Thus, allowing more players to get their elytra's the vanilla grinding way or buy them cheap. slight_smile If you're just a casual player, please don't take all the elytra's for yourself.  </p>
<p>#3. Do not PvP with another player unless you have both agreed to it. If you kill someone outside of PvP, there will be consequences.  </p>
<p>#4. If you die or lose any item due to lag or server malfunction, you are entitled to have your items returned to you. Please contact an admin or moderator if you end up in a situation like that.  </p>
<p>#5. Don't use mods, hacks, glitches, xray textures, exploits that disrupt the balance of the game or compromise anyone's privacy or security. Duping is also not allowed with the exception of rail, TNT, and carpet duping. Mods such as Optifine, Minimap, JEI, Litematica, Replay, Badlion and similar clients are acceptable. If you are unsure if something is allowed, please contact a moderator or admin.  </p>
<p>#6. Do not build or create anything that can be seen as insensitive or offensive. This includes genitals, hate symbols, slurs or offensive language on signs and controversial political symbols/figures.  </p>
<p>#7. Any sort of griefing, raiding or stealing will not be tolerated, even for unclaimed or unmarked containers/builds.  </p>


</html>
{% endblock %}